.table {
  border: 1px solid rgba($color: #000000, $alpha: 0.2);
  border-collapse: collapse;
  margin: 40px 0;
  width: 100%;
}

.table-content {
  width: 100%;
  overflow-x: auto;
}

.tr {
  border-bottom: 1px solid rgba($color: #000000, $alpha: 0.7);
}

.th {
  text-align: left;
}

.td,
.th {
  padding: 6px 12px;
  border: 1px solid rgba($color: #000000, $alpha: 0.2);
}

.td.message {
  min-width: 500px;
}
